In [1]:
import pandas as pd
import numpy as np
import prince
from sklearn import neighbors, preprocessing, model_selection

## Carga de datos

In [12]:
df = pd.read_csv('C:/Users/agust/Desktop/projects/myprojects/KNN/datasets/bank-additional-full.csv', sep=';')
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

## Nan values

In [13]:
df.isnull().sum().sum() # no hay valores Nan.

np.int64(0)

## Preprocessing of data

In [15]:
# Dado que tengo muchas variables, conviene realizar una reducción de dimensiones con MCA:
X = df.iloc[:, df.columns != 'y']
mca = prince.MCA(n_components=3,
    n_iter=3,
    copy=True,
    check_input=True,
    engine='sklearn',
    random_state=42
)
mca = mca.fit(X)
df1 = mca.transform(X)
df1

              0         1         2
0     -0.512534  0.758871  0.019586
1     -0.596227  0.769666 -0.030824
2     -0.503364  0.801233 -0.018180
3     -0.551747  0.763657 -0.032507
4     -0.522777  0.755839 -0.033469
...         ...       ...       ...
41183  1.650923 -0.220508  0.593141
41184  1.363680 -0.220980  0.440154
41185  1.460985 -0.266505  0.459433
41186  1.371879 -0.279286  0.441767
41187  1.892420 -0.175295  0.533935

[41188 rows x 3 columns]

In [17]:
df1.explained_inertia_

AttributeError: 'DataFrame' object has no attribute 'explained_inertia_'